*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@media (max-width: 1000px){
    #conteiner{
        padding: .4vw;
        margin: .4vw;
    }
}

@media (min-width: 1024px){
    #conteiner{
        padding: 5vw 30vw 5vw 30vw;
        display: grid;
    }
}

body{
    background-image: url(17010.jpg);
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
}

body:before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: purple;
    position: absolute;
    opacity: .5;
}

#title{
    text-align: center;
    padding-bottom: 1px;
    color: white;
    position: relative;
}

#description{
    text-align: center;
    padding-bottom: 2px;
    padding-bottom: 10px;
    color: white;
    position: relative;
}


#survey-form{
    font-family: 'Poppins', sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    text-align: left;
    height: auto;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(155, 40, 90, .5);
    color: whitesmoke;
}


#survey-form label{
    padding-top: 20px;
    text-align: left;
}

#survey-form input{
    display: grid;
    padding: 5px;
    width: 100%;
    margin-top: 5px;
}

#dropdown{
    display: grid;
    width: 100%;
    margin-top: 5px;
}

#title-check{
    padding-bottom: 5px;
}

#radio-check{
    text-align: left;
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;    
}

#radio-check label{
    padding: 5px 0 5px 0;
    display: flex;
}

#radio-check input{
    margin: auto 0 auto 0;
    width: 50px;
}

#areacomentarios{
    max-width: 100%;
    display: grid;
}

#areacomentarios p{
    padding: 15px 0 15px 0;
<<<<<<< HEAD
}

#areacomentarios textarea{
    padding: 5px;
}

#submit{
    margin-top: 15px;
    height: 50px;
=======
>>>>>>> 8c72392d15371e991eb4d25e1402e64a1fe07a2b
}

#areacomentarios textarea{
    padding: 5px;
}

#submit{
    margin-top: 15px;
    height: 50px;
}
